@media only screen and (min-width: 480px) and (max-width: 768px ) {

	/* Show Navigation Menu and Hide Regular Menu */
	.js .slicknav_menu, #responsive-top-nav, #sf-responsive{ display:block; }
	.top-nav, .sf-menu{ display:none; }
	
	/* Main Grids */
	.boxed{ width:85%; margin:0 auto; }
	.unboxed{ width:100%; }
	.container{ width:85%; margin:0 auto; }
	.full-width, .grid-2, .grid-3, .grid-4, .grid-5, .grid-2-3, .grid-3-4{ width:100%; margin:0px; }
	.grid-6{ width:19%; }
	.first{ margin-left:0px; }
	.last{ margin-right:0px; }
	
	/* Top Navigation menu */
	#header-social{ display:none; }
	#top-bar .slicknav_btn{ width:96%; background:#333333; margin-left:0px; }
	#top-bar .slicknav_menu{ background:#111111; }
	.searchbar{
	width:100%;
	padding-left:0px;
	padding-right:0px;
	text-align:center;
	border-top:1px solid #000000;
	}

	.blog-container {
		top: 0px;
	}
	
	/* Main Navigation menu */
	.nav-container .full-width{ width:80%; margin:0 auto; }
	.nav-container{ background-image:none; background:none; border:none; }
	.nav-container .slicknav_menu{ background:none; }
	.nav-container .slicknav_btn{ width:96%; margin-left:0px; }
	.nav-container .slicknav_menu a{ color:#333333; }
	
	/* Header */
	.logo{ text-align:center }
	.top-bar{ text-align:center; padding-top:20px; padding-bottom:20px; }
	.top-bar .searchbar{ float:none; }
	.header-info{ margin-bottom:15px; }
	.header-info span{ float:none; }
	
	.header-container .spacing-80{ height:30px;}
	.blog-spacer{ height:30px; }
	
	/* Videos */
	.videocontainer #VideoEmbed iframe{ height:330px; }
	.videocontainer #VideoPlayer{ height:93%; }
	
	/* Footer Widget */
	.footer-container .grid-3{ margin-bottom:40px; }
	.footer-container .grid-6{ width:17%; }
	.footer-container .grid-6.first-widget{ margin-left:0px; }
	.footer-container .grid-6.last-widget{ margin-right:0px; }
	#footer-social{ display:none }
	.footer-copyright .grid-2{ text-align:center; }
	
	/* Sharer */
	.single-page .sharer span{ border:none; }
	
	/* Ratings */
	.single-rating{ width:90%; margin-bottom:20px; }
	
}

@media only screen and (min-width: 320px) and (max-width: 480px ) {

	/* Show Navigation Menu and Hide Regular Menu */
	.js .slicknav_menu, #responsive-top-nav, #sf-responsive{ display:block; }
	.top-nav, .sf-menu{ display:none; }
	
	/* Main Grids */
	.boxed{ width:85%; margin:0 auto; }
	.container{ width:85%; margin:0 auto; }
	.full-width, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-2-3, .grid-3-4, .one-half, .one-third, .one-fourth{
		width:100%;
		margin:0px;
	}
	.grid-6{ width:19%; }
	.first{ margin-left:0px; }
	.last{ margin-right:0px; }
	
	/* Video Thumbnail */
	.layout-2-thumb{ width:50%; }
	
	/* Top Navigation menu */
	#header-social{ display:none; }
	#top-bar .slicknav_btn{ width:96%; background:#333333; margin-left:0px; }
	#top-bar .slicknav_menu{ background:#111111; width:100% }

	.blog-container {
		top: 0px;
	}
	
	
	/* Main Navigation menu */
	.nav-container .full-width{ width:80%; margin:0 auto; }
	.nav-container{ background-image:none; background:none; border:none; }
	.nav-container .slicknav_menu{ background:none; }
	.nav-container .slicknav_btn{ width:96%; margin-left:0px; }
	.nav-container .slicknav_menu a{ color:#333333; }
	
	/* Header */
	.logo{ text-align:center }
	.top-bar{ text-align:center; padding-top:20px; padding-bottom:20px; }
	.top-bar .searchbar{ float:none; }
	.header-info{ margin-bottom:15px; }
	.header-info span{ float:none; display:block }

	.header-container .spacing-80{ height:30px;}
	.blog-spacer{ height:30px; }
	
	/* Layout */
	.layout-2 .grid-6{ width:40%; }
	.layout-2 .hover-item{ height:88%; }
	.layout-2-thumb{ width:100%; margin-bottom:10px; }
	.layout-2 .layout-title{ margin-bottom:20px; }
	.layout-2 .stats{ margin-bottom:10px; display:none }
	.layout-2-details{ overflow:inherit; margin-left:0px; }
	.layout-2 p{ margin-left:0px; }
	
	/* Videos */
	.videocontainer #VideoEmbed iframe{ height:inherit; }
	.videocontainer #VideoPlayer{ height:93%; }
	
	/* Sharer */
	ul.sharer{ position:static; margin-bottom:20px; }
	ul.sharer li{ margin-left:0px; margin-right:5px; }
	ul.sharer span{ display:none; }
	ul.sharer i{ margin-right:0px; }
	ul.sharer .facebook i{ margin-left:3px; margin-right:3px; }
	
	/* Video Title */
	h6.video-title{ width:100%; }
	
	/* Blog */
	.blog-thumb{ width:100%; height:auto }
	.blog-post .image-holder{ height:100px; }
	
	/* Related Videos */
	.related-videos .grid-one-fourth{ width:100%; margin-bottom:20px; margin-left:0px; margin-right:0px; }
	.related-videos .grid-one-fourth.first{ margin-left:0px; }
	.related-videos .grid-one-fourth.last{ margin-right:0px; }
	
	/* Footer Widget */
	.footer-container .grid-3{ margin-bottom:40px; }
	.footer-container .grid-6{ width:100%; }
	.footer-container .grid-6.first-widget{ margin-left:0px; }
	.footer-container .grid-6.last-widget{ margin-right:0px; }
	#footer-social{ display:none }
	.footer-copyright .grid-2{ text-align:center; }

	/* Sharer */
	.single-page .sharer{ padding-bottom:30px; }
	.single-page .sharer span{ border:none; text-align:left; display:block; margin-bottom:20px; }
	.single-page .sharer ul{ float:left; }
	.single-page .sharer li:first-child{ margin-left:0px; }
	
	/* Ratings */
	.single-rating{ width:90%; margin-bottom:20px; }
	
	/* Cute Slider */
	.cute-slider .title,
	.cute-slider .text{ display:none; }
	.br-slideinfo .br-infocontent{ background:none; }
	.br-slideinfo .info1 .cute-readmore{ display:none; }
	.br-slidecontrol{ display:none; }
	
}